.root {
  background-color: #fff;
  :global {
    color: #000;
    .footer_menu {
      width: 100%;
      ul {
        text-align: center;
        color: #000;

        .footer_menu_title {
          span {
            height: 34px;
            font-size: 1rem;
            text-align: center;
            display: inline-block;
            border-bottom: 1px solid #ededed;
          }
        }
        li {
          margin-top: 10px;
          a {
            text-decoration: none;
            color: #000;
          }
          a:hover {
            color: #fff;
          }
        }
      }
      .footer_phone {
        color: #000;
      }
    }
    .footer_ban_quan {
      display: block;
      height: 20px;
      width: 100%;
      text-align: center;
    }
    .bottom-bar {
      border-top: 1px solid #e4ebf3;
      text-align: right;
      padding: 16px 144px;
      margin: 0;
      line-height: 32px;
      background-color: rgb(245, 247, 270);
    }
  }
}
